@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Lora:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');
body * {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

body {
  padding: 1rem;
}

h2 {
  text-transform: uppercase;
}

.lead {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 300
}

.loggedOut {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loggedIn {
  margin: 0 auto;
  max-width: 600px;
}

pre * {
  font-size: 1rem;
  white-space: pre-wrap;
}

pre {
  margin-bottom: 1rem;
}